a{
    text-decoration: none;
}

body{
    /*	font-family: 'Lato', sans-serif;*/
    font-family: 'Signika Negative', sans-serif;
}

.content figure{
    margin: 0;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway', sans-serif;
}

/* Se elimino la p 4to. */

.content h1{
    font-family: 'Kaushan Script', cursive;
    color: #D74942;
    font-size: 50px;
    text-shadow: 4px 4px 5px rgba(0,0,0,0.5);
}

.content{
    text-align: center;
}

.cover{
    position: relative;
    background: url(../images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}

.content .icon{
    animation: float 1.5s ease-out infinite;
    color: white;
    font-size: 80px;
}

.info{
    background-color: #141419;
    color: white;
    padding: 20px;
}

.info-2{
    background-color: #2196F3;
    color: white;
    padding: 40px;
}

.info-3{
    background-color: #B6B6B6;
    color: white;
    padding: 24px;
}

.info-3 .block {
    background-color: #2196F3;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 4px;
}

.info ul li {
    list-style: decimal inside;
    font-size: 3em;
    padding: 0.4em;
    background-color: #2196F3;
    margin: 20px 0;
}

.lista {
    display: flex;
    justify-content: center;
}
.lista ul li a{
    color:  white;
}
.info a {
    color: white;
}

.info h2{
    font-family: 'Signika Negative', sans-serif;
    text-shadow: 4px 4px 5px rgba(0,0,0,0.5);
    font-size: 50px;
    margin: 20px 0;                              /* Modificamos 7to. Estaba 15px */
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.infoContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.infoContent .block h3{
    font-size: 25px;
    margin: 5px 0 10px 0;
    color: #429904;                         /* Agregamos 8vo. */
    text-shadow: 2px 2px 2px 5px white;    /* Agregamos 8vo. */
}

.infoContent .block h3 a {
    color: #ffffff;
    text-shadow: 2px 2px 3px black;
}

.infoContent .block{
    padding: 8px;
    width: 100%;
    text-transform: uppercase;          /* Agregamos 4to. */
}

.infoContent .block .icon-social{
    font-size: 70px;
}

.btn {                         /* Agregamos */
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #D4C31C;        /* Agregamos 5to. Se agrego 2px solid */
    background-color: #4299D4;
    display: inline-block;      /* Agregamos 2do. */
    transition: 0.3s;           /* Agregamos 2do. */
}

.btn:hover {                   /* Agregamos 2do. */
    transform: scale(1.2);
    left-spacing: 3px;         /* Agregamoa 4to. */
}

/*Animación*/
@keyframes float {
    50% {
        transform: translate(0, 20px);
    }
}

/* Media queries*/
@media all and (min-width: 769px){
    .content h1{
        font-size: 100px;
    }

    .infoContent .block{
        width: 30%;
    }
}

@media only screen and (max-width : 320px) 
{
    .cajas{width: 100%}
    .info{word-break: break-word}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) 
{
   .cajas{width: 100%}
   .info{word-break: break-word}
}
